*{
  font-size: 17px;
}
.back-button {
  color: #002d72;
  background-color: white;
  font-size: 22px;
  padding: 25px 35px;
  border: none;
  cursor: pointer;
}
.title-profile {
  text-align: center;
  font-size: 40px;
}
.profile-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.profile-photo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 25px;  
}

.edit-mode {
  text-align: center;
  width: 300px;
}

.edit-mode input {
  width: 100%;
  height: 40px;
  padding-inline: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid gray;
  font-size: 15px;
}

.update-button {
  width: 180px;
  height: 40px;
  background-color: #27ae60;
  color: #fff;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.user-info {
  text-align: center;
}

.edit-button {
  width: 180px;
  height: 40px;
  background-color: #e67e22;
  color: #fff;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 5px;
}
