.navbar {
  background-color: #002d72;
  width: calc(100% - 80px);
  height: 40px;
  padding: 15px 40px 15px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.gaming {
  width: 200px;
}
.links {
  width: 55%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.div-search {
  width: calc(100% - 200px);
  display: flex;
  align-items: center;
  position: relative;
}
.button-search {
  background-color: transparent;
  border: 0px;
  position: absolute;
  left: 11px;
  top: 11px;
}
.icon-search {
  color: #002d72;
  width: 18px;
}
.search {
  width: 100%;
  height: 40px;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 5px 10px 5px 50px ;
  font-size: 15px;
}
.pro {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.signup {
  color: #ffffff;
  background-color: transparent;
  border: 0px;
  width: 100px;
  font-size: 16px;
  margin-left: 25px;
  cursor: pointer;
  display: grid;
  justify-items: center;
}
.chariot {
  position: relative;
}
.profail {
  width: 140px;
  height: 80px;
  background-color: #002d72;
  top: 58px;
  left: 6px;
  position: absolute;
  display: grid;
}
.link-profile {
  width: 140px;
  height: 20px;
  color:white;
  text-decoration: none;
}
.count {
  position: absolute;
  top: -10px;
  right: 28px;
  color: white;
  font-size: 14px;
}
.bt{
  margin-right: 10px;
  width: 18px;
}
.profile-image {
  width: 45px;
  height: 45px;
  border-radius: 100%;
}
.lin{
  position: relative;
  margin-bottom: 10px;
  width: 18px;
}
.pro-button {
  padding: 0;
  width: 100%;
  background-color: #002d72;
  border: none;
  color: white;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.pro-button:hover {
  background-color: #001a40;
}
.pro-overlay {
  display: hidden;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.centeredDiv {
  background-color: rgb(240, 240, 240);
  width: 450px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 10px;
  z-index: 2;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.signin {
  text-align: center;
}

.inputs-ex , .inputs-in {
  margin-top: 20px;
}

.input {
  width: 90%;
  padding: 10px;
  margin-top: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.profile-image2 {
  width: 100%;
  justify-content: center;
  position: relative;
  display: inline-block;
}

.user-image {
  border-radius: 100%;
  width: 150px; 
  height: 150px; 
  object-fit: cover;
}

.upload {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  opacity: 0;
  cursor: pointer;
  z-index: 1;
  width: 150px;
  height: 150px;
  border-radius: 100%;
  background-color: #f00;
}

.upload-title {
  padding-bottom: 10px;
}
.upload-title:hover {
  color: #f00;
}

.forget {
  color: #002d72;
  text-decoration: none;
  display: block;
  margin-top: 5px;
  text-align: start;
  padding-left: 12px;
  font-size: 14px;
}

.login {
  width: 50%;
  font-size: 18px;
  background-color: #002d72;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 50px;
}

.login:hover {
  background-color: #001a40;
}

.toggleButton {
  background: none;
  border: none;
  color: #002d72;
  cursor: pointer;
}
.toggleText {
  margin: 10px 0;
  font-size: 14px;
}
.button_x {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  color: #002d72;
  cursor: pointer;
  font-size: 30px;
}
.button_x:hover {
  color: #f00;
}